.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.currentSequenceItems {
    composes: flexRow;
    flex-wrap: wrap;
    gap: 10px;
}

.sequenceItem {
    composes: flexRow, selectOff from global;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 40px;
    color: black;
    background-color: var(--amber2);
    font-weight: bold;
    cursor: pointer;
}

.sequenceItemText {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.deleteItem {
    font-size: .75rem;
}

.deleteItem:hover {
    color: var(--off-white);
    font-weight: bold;
}

.modifierRow {
    composes: flexRow;
    justify-content: space-between;
}

.modifierCheckboxes {
    composes: selectOff from global;
    composes: flexRow;
    gap: 10px;
    border-radius: 40px;
    width: fit-content;
}

.modifierCheckboxes label {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 15px;
    border-radius: 40px;
    color: var(--charcoal);
    background-color: var(--steel-blue2);
    font-weight: bold;
    cursor: pointer;
}

.modifierCheckboxes input[type="checkbox"] {
    accent-color: var(--amber);
    cursor: pointer;
}

.stringEntryInput {
    composes: flexRow;
    gap: 20px;
}

.stringEntryInput input {
    width: 100%;
}

.keyboardFunctions {
    composes: flexRow;
    justify-content: space-between;
    padding: 15px;
    border-radius: 20px;
    background-color: var(--navy);
    overflow-y: scroll;
}

.keyboardFunctions button {
    margin: 3px;
    min-height: 50px;
    padding: 0;
    border: none;
    border-radius: 5px;
    color: black;
    background-color: var(--off-white);
    font-size: .75rem;
    text-align: center;
}

.keyboardFunctions button:hover {
    background-color: var(--steel-blue2);
    cursor: pointer;
}

.keyboardFunctions button:active {
    background-color: var(--amber2);
}

.u1 {
    grid-column: span 4;
}

.u1_25 {
    grid-column: span 5;
}

.u1_5 {
    grid-column: span 6;
}

.u1_75 {
    grid-column: span 7;
}

.u2 {
    grid-column: span 8;
}

.u2_25 {
    grid-column: span 9;
}

.u2_75 {
    grid-column: span 11;
}

.u1_tall {
    composes: u1;
    grid-row: span 2;
}

.u1_space {
    grid-column: span 2;
}

.u0_5_space {
    grid-column: span 1;
}

.tabRowSpace {
    grid-column: span 42;
}

.shiftRowSpace {
    grid-column: span 36;
}

.capsRowSpace {
    grid-column: span 40;
}

.spacebar {
    grid-column: span 22;
}

.leftKeyboard,
.middleKeyboard,
.rightKeyboard {
    display: grid;
}

.leftKeyboard {
    grid-template-columns: repeat(56, 13.5px);
}

.middleKeyboard {
    grid-template-columns: repeat(12, 13.5px);
}

.rightKeyboard {
    grid-template-columns: repeat(16, 13.5px); /* 4 columns of equal width */
}

.addBlockContent {
    composes: flexRow;
    align-items: center;
    gap: 10px;
}

.addButton {
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    color: var(--off-white);
    background-color: var(--navy);
    font-size: 1rem;
    font-weight: bold;
}

.addButton:hover {
    color: var(--off-white);
    background-color: var(--navy);
    cursor: pointer;
}