.flexRow {
    display: flex;
    flex-direction: row;
}

.buttonRow {
    composes: flexRow;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button {
    padding: 0px 30px;
    height: 45px;
    border: none;
    border-radius: 40px;
    box-shadow: var(--button-shadow);
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
}

.previewButton {
    composes: button;
    color: black;
    background-color: var(--steel-blue2);
    background-image: var(--blue-button-gradient);
}

.previewButtonHide {
    composes: previewButton;
    background-image: unset;
    background-color: var(--amber2);
    box-shadow: var(--orange-button-shadow);
}

.krsButton {
    composes: button;
    color: white;
    background-color: var(--navy);
    background-image: var(--navy-button-gradient);
}

.filePreviewHide {
    display: none;
}

.filePreview pre {
    overflow: auto;
    margin: 0;
    padding: 30px;
}

@media screen and (max-width: 600px) {
    .buttonRow {
        flex-direction: column;
        gap: 10px;
    }
}