.flexApart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.bumpbar {
    position: relative;
    display: flex;
    align-items: stretch;
    min-width: 350px;
    width: 100%;
    aspect-ratio: 3.5/1;
    margin-bottom: 10px;
    padding: 4%;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    background-image: radial-gradient(150% 100% at top, rgba(255, 255, 255, .3), rgba(255, 255, 255, .3) 40%, transparent 40%, transparent);
    box-shadow: 0 3px 5px 0 black;
    overflow: auto;
}

.bumpbarSticky {
    composes: bumpbar;
    position: sticky;
    top: 10px;
    z-index: 2;
}

.bumpbar:has(.bumpbarLayout20) {
    padding: 5.5% 4%;
}

.bumpbar:has(.bumpbarLayout20)::before {
    top: 7%;
}

.bumpbar::before {
    content: "";
    position: absolute;
    top: 4%;
    left: 9%;
    width: 1.75%;
    aspect-ratio: 1/1;
    background-color: red;
    border-radius: 40px;
    box-shadow: 0 0 3px 0 black inset;
}

.bumpbarLayout {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    margin: 0 auto;
    width: 100%;
}

.bumpbarLayout20 {
    composes: bumpbarLayout;
    grid-template-rows: repeat(2, 1fr);
}

.bumpbarButton {
    display: flex;
    position: relative;
    margin: 0;
    padding: 12px;
    justify-content: center;
    align-items: center;
    background-color: var(--off-white);
    border: none;
    border-radius: 6px;
    overflow: auto;
}

.bumpbarButton:hover {
    background-color: var(--steel-blue2);
    cursor: pointer;
}

.bumpbarButton::before {
    content: attr(data-number);
    position: absolute;
    top: 0;
    left: 0;
    min-width: fit-content;
    width: 20%;
    padding: 3% 2%;
    border-bottom-right-radius: 2px;
    color: black;
    background-color: var(--steel-blue2);
    text-align: center;
}

.bumpbarButtonText {
    text-align: center;
}

.activeButton {
    composes: bumpbarButton;
    background-color: var(--amber2);
}

.activeButton:hover {
    background-color: var(--amber);
}

.buttonActions {
    display: flex;
    justify-content: space-around;
}

.buttonAction {
    width: 200px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.updateButton {
    composes: buttonAction;
    background-color: lightgreen;
}

.eraseButton {
    composes: buttonAction;
    background-color: lightpink;
}

.resetButton {
    composes: buttonAction;
    background-color: lightcoral;
}

.switch {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 40px;
    padding: 4px;
    color: black;
    background-color: var(--amber2);
    box-shadow: 0 0 6px -1px black inset;
}

.switch::before {
    content: "";
    position: absolute;
    right: 1.5%;
    width: 47%;
    height: 34px;
    border-radius: 40px;
    background-color: var(--steel-blue2);
    background-image: linear-gradient(to bottom, var(--steel-blue2), #3778aa);
    box-shadow: 0 1px 3px -1px rgb(20, 20, 70);
    z-index: 1;
    transition: right 0.5s ease-in-out;
}

.switch20{
    composes: switch;
}

.switch20::before {
    right: 51.5%;
}

.switchOption {
    composes: selectOff from global;
    border-radius: 30px;
    padding: 5px 12px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
}

.switchOption input {
    opacity: 0;
    width: 0;
    margin: 0;
}

.pinBumpbar {
    composes: selectOff from global;
    display: flex;
    justify-content: flex-end;
}

.pinBumpbarLabel {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 40px;
    border-radius: 40px;
    padding: 10px 20px;
    color: black;
    background-color: var(--steel-blue2);
    font-weight: bold;
    cursor: pointer;
    background-image: linear-gradient(to bottom, var(--steel-blue2), #3778aa);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
}

.pinBumpbarActive {
    composes: pinBumpbarLabel;
    background-color: var(--amber2);
    background-image: unset;
    box-shadow: 0 0 15px -5px #965200 inset, inset 0 0 3px 1px #965200;
}

.pinBumpbar input[type="checkbox"] {
    width: 0;
    opacity: 0;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .bumpbarButton {
        overflow: hidden;
    }

    .bumpbarButton::before {
        display: flex;
        align-items: center;
        justify-content: center;
        top: unset;
        left: unset;
        width: 100%;
        height: 100%;
    }

    .activeButton::before {
        background-color: var(--amber2);
    }
}