.bumpbar {
    background-color: var(--navy);
    width: 100%;
    padding: 20px 20px;
    border-radius: 15px;
    width: 100%;
}

.bumpbarLayout {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    margin: 0 auto;
}

.bumpbarButton {
    display: flex;
    position: relative;
    margin: 0;
    aspect-ratio: 1/1;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    overflow: auto;
}

.bumpbarButton:hover {
    background-color: var(--amber);
}

.bumpbarButton::before {
    content: attr(data-number);
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 4px;
    color: var(--navy);
    background-color: var(--steel-blue);
}

.bumpbarButtonText {
    text-align: center;
}