* {
    box-sizing: border-box;
}

select,
input {
    padding: 10px 20px;
    border: solid 1px black;
    border-radius: 40px;
    font-size: 1rem;
    cursor: pointer;
    outline-color: var(--amber);
}

input[type="checkbox"] {
    accent-color: var(--amber);
}

.selectOff {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}