* {
    box-sizing: border-box;
}

select {
    width: 100%;
    height: 100%;
    margin: 0 10px;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
}

select:focus,
select:focus-visible {
    outline: none;
}

input[type="text"],
input[type="number"] {
    height: 40px;
    padding: 0px 20px;
    border: none;
    border-radius: 40px;
    font-size: 1rem;
    cursor: pointer;
    outline-color: var(--amber);
    box-shadow: var(--button-shadow);
    @media (max-width: 600px) {
        height: 35px;
        padding: 0px 16px;
        font-size: .9rem;
    }
}

input[type="number"] {
    padding: 0 10px 0 25px;
}

input[type="text"]:focus,
input[type="text"]:focus-visible,
input[type="number"]:focus,
input[type="number"]:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--amber);
}

input[type="checkbox"] {
    accent-color: var(--amber);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.footer p {
    text-align: center;
}

.button {
    display: block;
    padding: 0 20px;
    height: 40px;
    border: none;
    border-radius: 40px;
    color: black;
    box-shadow: var(--button-shadow);
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    @media (max-width: 600px) {
        height: 35px;
        padding: 0px 16px;
        font-size: .9rem;
    }
}

.button:active {
    box-shadow: var(--button-active-shadow);
}

.dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    background-color: white;
    border-radius: 40px;
    box-shadow: var(--button-shadow);
    @media (max-width: 600px) {
        height: 35px;
    }
}

.dropdown select {
    text-align: center;
    text-align-last: center;
}

.dropdown:has(select:focus),
.dropdown:has(select:focus-visible) {
    box-shadow: 0 0 0 2px var(--amber);
}

.selectOff {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tooltip {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 6px;
    @media (max-width: 600px) {
        padding-left: 6px;
    }
}

.tooltipIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: solid 1px var(--steel-blue2);
    border-radius: 40px;
    color: var(--charcoal);
    background-color: var(--off-white);
    font-size: .75rem;
    font-weight: bold;
    cursor: help;
}

.tooltipContent {
    display: none;
    position: fixed;
    position-area: top right;
    position-try-order: most-width;
    position-try-fallbacks: flip-block, flip-inline, flip-block flip-inline;
    left: 5px;
    bottom: 5px;
    max-width: clamp(100px, calc(100% - 10px), 300px);
    padding: 5px 10px;
    border: solid 1px var(--steel-blue2);
    border-radius: 10px;
    background-color: var(--off-white);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-size: .8rem;
    font-weight: normal;
    white-space: pre-line;
    z-index: 3;
}

.tooltipContent p {
    margin: 5px 0;
}

.tooltipContent ul {
    padding-left: 20px;
}

.tooltip:hover .tooltipContent {
    display: block;
}

@media screen and (max-width: 600px) {
    select,
    input[type="text"],
    input[type="number"] {
        font-size: .9rem;
    }

    input[type="text"],
    input[type="number"] {
        padding: 0px 16px;
    }
}