* {
    box-sizing: border-box;
}

select,
input[type="text"],
input[type="number"] {
    height: 40px;
    padding: 0px 20px;
    border: solid 1px black;
    border-radius: 40px;
    font-size: 1rem;
    cursor: pointer;
    outline-color: var(--amber);
}

input[type="checkbox"] {
    accent-color: var(--amber);
}

.selectOff {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tooltipIndicator {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-left: 10px;
    border: solid 1px var(--steel-blue2);
    border-radius: 40px;
    color: var(--charcoal);
    background-color: var(--off-white);
    font-size: .75rem;
    font-weight: bold;
    cursor: help;
}

.tooltipContent {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 100%;
    width: max-content;
    max-width: 300px;
    padding: 5px 10px;
    background-color: var(--off-white);
    border: solid 1px var(--steel-blue2);
    border-radius: 10px;
    font-size: .8rem;
    font-weight: normal;
    white-space: pre-line;
}

.tooltipIndicator:hover .tooltipContent {
    display: block;
}

@media screen and (max-width: 600px) {
    select,
    input[type="text"],
    input[type="number"] {
        padding: 8px 16px;
        font-size: .9rem;
    }
}