* {
    text-align: left;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.configOptions {
    composes: flexRow;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 20px;
    gap: 10px;
}

.configSection {
    composes: flexColumn;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--charcoal);
    border-radius: 12px;
    font-weight: bold;
}

.fileUpload {
    composes: configSection;
    flex-grow: 1;
    max-width: 300px;
    @media (max-width: 600px) {
        max-width: 95%;
    }
}

.fileUpload input {
    width: 100%;
}

input[type="file"] {
    border: none;
    padding: 10px 0;
    font-size: 1rem;
}

input[type="file"]::file-selector-button {
    padding: 0 20px;
    height: 40px;
    margin-right: 10px;
    border: none;
    border-radius: 40px;
    color: var(--off-white);
    background-color: var(--navy);
    background-image: var(--navy-button-gradient);
    box-shadow: var(--button-shadow);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    @media (max-width: 600px) {
        height: 35px;
        padding: 0px 16px;
        font-size: .9rem;
    }
}

.configSection input[type="radio"] {
    accent-color: var(--amber);
    margin-top: 0px;
}

.configSection input[type="text"]:focus,
.configSection input[type="text"]:focus-visible,
.configSection select:focus,
.configSection select:focus-visible {
    outline-color: var(--amber);
}

.beeperOptions {
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-items: start;
}

.otherText {
    height: fit-content !important;
    width: 60px;
    border-radius: 10px !important;
    padding: 4px !important;
    text-align: center;
}

.connection,
.mode,
.keypressSound,
.lockSounds {
    composes: configSection;
}

@media screen and (max-width: 600px) {
    .connection {
        order: 3;
    }
    .mode {
        order: 5;
    }
    .keypressSound {
        order: 2;
    }
    .lockSounds {
        order: 4;
    }
}