* {
    text-align: left;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexApart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.configOptions {
    composes: flexRow;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 20px;
    gap: 10px;
    @media (max-width: 600px) {
        gap: 6px;
    }
}

.configSection {
    composes: flexColumn;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--charcoal);
    border-radius: 12px;
    font-weight: bold;
}

.advancedToggle {
    composes: selectOff from global;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.advancedToggleLabel {
    composes: button from global;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    color: black;
    background-color: var(--steel-blue2);
    background-image: var(--blue-button-gradient);
    @media (max-width: 600px) {
        width: 210px;
    }
}

.advancedToggleActive {
    composes: advancedToggleLabel;
    background-color: var(--amber2);
    background-image: unset;
    box-shadow: var(--orange-button-shadow);
}

.advancedToggle input[type="checkbox"] {
    width: 0;
    opacity: 0;
    margin: 0;
}

.fileUpload {
    composes: configSection;
    flex-grow: 1;
    max-width: 300px;
    @media (max-width: 600px) {
        max-width: 100%;
    }
}

.fileUpload input {
    width: 100%;
}

input[type="file"] {
    border: none;
    padding: 10px 0;
    font-size: 1rem;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    padding: 0 20px;
    height: 40px;
    margin-right: 10px;
    border: none;
    border-radius: 40px;
    color: var(--off-white);
    background-color: var(--navy);
    background-image: var(--navy-button-gradient);
    box-shadow: var(--button-shadow);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    @media (max-width: 600px) {
        height: 35px;
        padding: 0px 16px;
        font-size: .9rem;
    }
}

.configSection input[type="radio"] {
    accent-color: var(--amber);
    margin-top: 0px;
}

.serialInfo {
    composes: flexColumn;
    margin-top: 10px;
    gap: 5px;
}

.serialInfoRow {
    display: grid;
    grid-template-columns: 100px 110px;
    align-items: center;
}

.keypressSoundSwitch {
    composes: flexRow;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 40px;
    padding: 4px;
    color: black;
    background-color: var(--amber2);
    /* box-shadow: 0 0 6px -1px black inset; */
    box-shadow: var(--orange-button-shadow);
    @media (max-width: 600px) {
        height: 35px;
        gap: 0px;
    }
}

.keypressSoundSwitch::before {
    content: "";
    position: absolute;
    right: 1.5%;
    width: 47%;
    height: 34px;
    border-radius: 40px;
    background-color: var(--steel-blue2);
    background-image: var(--blue-button-gradient);
    box-shadow: 0 1px 3px -1px rgb(20, 20, 70);
    z-index: 1;
    transition: right 0.3s ease-in-out;
    @media (max-width: 600px) {
        height: 29px;
    }
}

.keypressSoundSwitchOn {
    composes: keypressSoundSwitch;
}

.keypressSoundSwitchOn::before {
    right: 51.5%;
}

.keypressSoundOption {
    composes: selectOff from global;
    border-radius: 30px;
    padding: 5px 12px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
}

.beeperOptions {
    display: flex;
    gap: 10px;
    @media (max-width: 600px) {
        display: grid;
        grid-template-columns: auto auto;
        justify-items: start;
    }
}

.beeperOptionsAdvanced {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: start;
    gap: 10px;
    @media (max-width: 600px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.beeperOption {
    composes: flexRow, button from global, selectOff from global;
    display: flex;
    align-items: center;
    color: black;
    background-color: var(--steel-blue2);
    background-image: var(--blue-button-gradient);
    font-size: 1rem;
    font-weight: bold;
}

.beeperOptionActive {
    composes: beeperOption;
    background-color: var(--amber2);
    background-image: unset;
    box-shadow: var(--orange-button-shadow);
}

.keypressSoundSwitch input[type="radio"],
.beeperOption input[type="radio"] {
    width: 0;
    margin: 0;
    opacity: 0;
}

.otherText {
    width: 90px;
    margin-left: 10px;
    text-align: center;
}

.otherText:invalid {
    box-shadow: 0 0 0 2px red !important;
}

.connection,
.mode,
.keypressSound,
.lockSounds {
    composes: configSection;
}

@media screen and (max-width: 600px) {
    .connection {
        order: 3;
    }
    .mode {
        order: 2;
    }
    .keypressSound {
        order: 4;
    }
    .lockSounds {
        order: 5;
    }
}